@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "EleUI 组件库索引";
}

@section body {
    <h1 class="text-3xl font-bold mb-6 text-center my-4">EleUI RazorPage 组件库示例</h1>
    <Grid Gap="2" Cols="1" MiddleCols="2" LargeCols="4" MaxWidth="max-w-none" Center="true" PaddingX="4" >
        <EleLabel Label="Manager" Size="2xl" Bold="true" FillRow="true" />
        <a href="Manager" class="text-blue-500 hover:underline">管理器 (Manager)</a>
        <a href="ManagerServer" class="text-blue-500 hover:underline">管理器 (ManagerServer-Handler)</a>
        <a href="Theme" class="text-blue-500 hover:underline">主题切换 (Theme / Dark Mode)</a>

        <EleLabel Label="Layout" Size="2xl" Bold="true" FillRow="true" />
        <a href="./Layouts/Row" class="text-blue-500 hover:underline">行布局 (Row)</a>
        <a href="./Layouts/Column" class="text-blue-500 hover:underline">列布局 (Column)</a>
        <a href="./Layouts/Grid" class="text-blue-500 hover:underline">网格布局 (Grid)</a>

        <EleLabel Label="Controls" Size="2xl" Bold="true" FillRow="true" />
        <a href="./Controls/Button" class="text-blue-500 hover:underline">Button</a>
        <a href="./Controls/Form" class="text-blue-500 hover:underline">表单控件 (Forms)</a>
        <a href="./Controls/Icons" class="text-blue-500 hover:underline">图标 (Icons)</a>
        <a href="./Controls/ImageViewer" class="text-blue-500 hover:underline">图片预览 (ImageViewer)</a>

        <EleLabel Label="Popups" Size="2xl" Bold="true" FillRow="true" />
        <a href="./Popups/Drawer" class="text-blue-500 hover:underline">抽屉 (Drawer)</a>
        <a href="./Popups/ServerDrawer" class="text-blue-500 hover:underline">服务端抽屉 (ServerDrawer)</a>
        <a href="./Popups/OpenDrawer" class="text-blue-500 hover:underline">全局抽屉 (OpenDrawer)</a>
        <a href="./Popups/Dialog" class="text-blue-500 hover:underline">对话框 (Dialog)</a>

        <EleLabel Label="Containers" Size="2xl" Bold="true" FillRow="true" />
        <a href="./Containers/Card" class="text-blue-500 hover:underline">卡片 (Card)</a>
        <a href="./Containers/SplitPanel" class="text-blue-500 hover:underline">分隔面板 (SplitPanel)</a>
        <a href="./Containers/Container" class="text-blue-500 hover:underline">容器 (Container)</a>

        <EleLabel Label="App" Size="2xl" Bold="true" FillRow="true" />
        <a href="./Apps/Index" class="text-blue-500 hover:underline">App (Users)</a>

        <EleLabel Label="Data" Size="2xl" Bold="true" FillRow="true" />
        <a href="./Datas/Users" class="text-blue-500 hover:underline">列表与表单 (Users)</a>
        <a href="./Datas/UserList" class="text-blue-500 hover:underline">用户列表 (UserList)</a>
    </Grid>
}
