@page
@model App.Pages.Checks.CheckSheetsModel
@{
    ViewData["Title"] = "检查表管理";
}

@section body {
    <EleTable Title="检查表" FormPage="CheckSheetForm" EnableBatch="true" >
        <Toolbar>
            <Filters>
                <EleInput For="Item.Name" Width="250px" Label="名称" ></EleInput>
                <EleSelect For="Item.Scope" Width="250px" Label="领域"  Clearable="true" ></EleSelect>
            </Filters>
            <div class="flex w-80">
                <EleButton Type="Primary" Command="Search" Icon="Search">查询</EleButton>
                <EleButton Type="Primary" Command="Add" Icon="Plus">新增</EleButton>
                <EleButton Type="Danger" Command="BatchDelete" Icon="Delete">批量删除</EleButton>
            </div>
        </Toolbar>
        <Columns>
            <EleNumColumn></EleNumColumn>
            <EleOpColumn Width="100" Fixed="right">
                <Op Command="Edit" Tooltip="编辑" Visible="@Auth.CheckPower(Power.CheckSheetEdit)"></Op>
                <Op Command="Delete" Tooltip="删除" Visible="@Auth.CheckPower(Power.CheckSheetDelete)"></Op>
            </EleOpColumn>
            <EleColumn For="Item.Name" Label="名称" Link="true" MinWidth="150" Sortable="true"></EleColumn>
            <EleColumn For="Item.Scope" Label="领域" Width="120"></EleColumn>
            <EleColumn For="Item.CreateDt" Label="创建日期" Width="200" FormatString="yyyy-MM-dd"></EleColumn>
        </Columns>
    </EleTable>
}
