@page
@model App.Pages.Checks.CheckObjectsModel
@{
    ViewData["Title"] = "检查对象管理";
}

@section body {
    <EleTable Title="检查对象" FormPage="CheckObjectForm" EnableBatch="true" >
        <Toolbar>
            <EleInput For="Item.Name" Width="250px" Label="名称" ></EleInput>
            <EleSelect For="Item.ObjectType" Width="250px" Label="类型" Clearable="true"></EleSelect>
            <EleInput For="Item.SocialCreditCode" Width="250px" Label="信用编码" ></EleInput>
            <EleSwitch For="Item.InUsed" Width="250px" Label="是否在用" ></EleSwitch>
            <EleSwitch For="Item.IsKeySupervision" Width="250px" Label="重点监管" ></EleSwitch>
            <EleSwitch For="Item.IsProductInNight" Width="250px" Label="夜晚生产" ></EleSwitch>
            <EleSwitch For="Item.IsDemonstration" Width="250px" Label="示范企业" ></EleSwitch>
            <EleSwitch For="Item.IsThreePlacesThreeEnterprises" Width="250px" Label="三场所三企业" ></EleSwitch>
            <div class="flex w-80">
                <EleButton Type="Primary" Command="Search" Icon="Search">查询</EleButton>
                <EleButton Type="Primary" Command="Add" Icon="Plus">新增</EleButton>
                <EleButton Type="Danger" Command="BatchDelete" Icon="Delete">批量删除</EleButton>
            </div>
        </Toolbar>
        <Columns>
            <EleNumColumn></EleNumColumn>
            <EleOpColumn UPower="CheckObjectEdit" DPower="CheckObjectDelete" Width="100" Fixed="right"></EleOpColumn>
            <EleColumn For="Item.Id" Label="Id" Link="true" Width="60" Sortable="true"></EleColumn>
            <EleColumn For="Item.Name" Label="名称" Link="true" MinWidth="150" Sortable="true"></EleColumn>
            <EleColumn For="Item.ObjectType" Label="类型" Width="100" Format="Enum"></EleColumn>
            <EleColumn For="Item.DutyOrg.Name" Label="责任组织" Width="120"></EleColumn>
            <EleColumn For="Item.SocialCreditCode" Label="社会信用代码" Width="180"></EleColumn>
            <EleColumn For="Item.DutyUserName" Label="负责人" Width="120"></EleColumn>
            <EleColumn For="Item.RiskLevel" Label="风险等级" Width="100"></EleColumn>
            <EleColumn For="Item.RiskColor" Label="风险四色" Width="100"></EleColumn>
            <EleColumn For="Item.Scope" Label="领域" Width="100"></EleColumn>
            <EleColumn For="Item.Scale" Label="规模" Width="100"></EleColumn>
            <EleColumn For="Item.ObjectType" Label="对象类型" Width="100"></EleColumn>
            <EleColumn For="Item.DutyOrg.Name" Label="责任组织" Width="120"></EleColumn>
            <EleColumn For="Item.Address" Label="地址" Width="200"></EleColumn>
            <EleColumn For="Item.CheckerName" Label="检查人" Width="120"></EleColumn>
            <EleColumn For="Item.SocialCheckerName" Label="网格员" Width="120"></EleColumn>
            <EleColumn For="Item.CreateDt" Label="建档日期" Width="110" FormatString="yyyy-MM-dd"></EleColumn>
        </Columns>
    </EleTable>
}
