@page
@model App.Pages.Checks.CheckTagsModel
@{
    ViewData["Title"] = "检查项标签管理";
}

@section body {
    <EleTable Title="检查项标签管理" FormPage="CheckTagForm" EnableBatch="false"  RowKey="id" >
        <Toolbar>
            <Filters>
                <EleTreeSelect For="Item.OrgId" Label="组织" Api="/httpapi/orgs/GetAuthOrgTree" Width="200px" ></EleTreeSelect>
            </Filters>
            <div class="flex flex-wrap items-center gap-2 pb-4 md:pb-0">
                <EleButton Type="Primary" Command="Add" Icon="Plus" Width="120px">新增</EleButton>
            </div>
        </Toolbar>
        <Columns>
            <EleOpColumn Width="100">
                <Op Command="Edit" Tooltip="编辑"></Op>
                <Op Command="Delete" Tooltip="删除"></Op>
            </EleOpColumn>
            <EleColumn For="Item.Id" Label="Id" Width="100"></EleColumn>
            <EleColumn For="Item.Name" Label="名称" Width="400"></EleColumn>
            <EleColumn For="Item.SortId" Label="顺序" Width="400"></EleColumn>
            <EleColumn For="Item.OrgName" Label="组织" ></EleColumn>
        </Columns>
    </EleTable>
}
