@page
@model App.Pages.Checks.CheckObjectFormModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "检查对象信息";
}

@section body {
    <EleForm>
        <EleHidden For="Item.Id"></EleHidden>
        <EleLabel Label="基础信息" FillRow="true"></EleLabel>
        <EleImageUpload For="Item.OutlookImage" Label="外观图片" FillRow="true"></EleImageUpload>
        <EleInput For="Item.Name" Label="名称" Required="true"></EleInput>
        <EleInput For="Item.SocialCreditCode" Label="社会信用代码"></EleInput>
        <EleInput For="Item.Code" Label="对象标志"></EleInput>
        <EleInput For="Item.AreaCode" Label="地块号"></EleInput>
        <EleInput For="Item.Address" Label="地址"></EleInput>
        <ElePicker For="Item.Gps" TextFor="Item.Gps" Label="地图定位" PopupUrl="/GIS/Locator" Icon="Location"></ElePicker>
        <EleDatePicker For="Item.ArchieveDt" Label="建档日期"></EleDatePicker>
        <EleDatePicker For="Item.LatestCheckDt" Label="最后巡查时间" Type="@EleDatePickerType.DateTime"></EleDatePicker>
        <EleSwitch For="Item.HasHarzard" Label="是否存在隐患"></EleSwitch>
        <EleSwitch For="Item.IsDel" Label="是否失效"></EleSwitch>
        <div v-show="form.isDel === true">
            <EleSelect For="Item.FailReason" Label="失效原因" FillRow="true" Items='new[]{"停业","搬迁","虚拟注册","注销","无实体经营","数据重复","其他原因"}'></EleSelect>
        </div>

        <EleLabel Label="责任信息" FillRow="true"></EleLabel>
        <EleInput For="Item.DutyUserName" Label="负责人信息"></EleInput>
        <EleInput For="Item.SafetyAdminName" Label="安全管理员"></EleInput>
        <EleInput For="Item.ThirdPartySafetyAgency" Label="三方机构"></EleInput>
        <EleTreeSelect For="Item.DutyOrgId" Label="责任网格" Api="/httpapi/orgs/GetAuthOrgTree" ></EleTreeSelect>
        <ElePicker For="Item.CheckerId" TextFor="Item.CheckerName" Label="技术检查员" PopupUrl="/Shared/UserSelector?multi=0"></ElePicker>

        <EleLabel Label="企业信息" FillRow="true"></EleLabel>
        <EleImageUpload For="Item.LicenseImage" Label="工商执照" FillRow="true"></EleImageUpload>
        <EleSelect For="Item.ObjectType" Label="对象类型" Placeholder="请选择"></EleSelect>
        <EleSelect For="Item.Scope" Label="领域" ></EleSelect>
        <EleSelect For="Item.Scale" Label="规模"></EleSelect>
        <EleInput For="Item.ProductContent" Label="生产内容" Rows="1" FillRow="true"></EleInput>
        <EleInput For="Item.EleMeeterNum" Label="电表号"></EleInput>
        <EleNumber For="Item.EmployeeCount" Label="员工数"></EleNumber>

        <EleLabel Label="风险信息" FillRow="true"></EleLabel>
        <EleSelect For="Item.RiskLevel" Label="风险等级" ></EleSelect>
        <EleSelect For="Item.IndustryType" Label="行业类型"></EleSelect>
        <EleSelect For="Item.IndustryRisk" Label="行业风险"></EleSelect>
        <EleInput For="Item.InternalRewardMechanism" Label="内部奖励机制"></EleInput>
        <EleSwitch For="Item.IsKeySupervision" Label="重点监管"></EleSwitch>
        <EleSwitch For="Item.IsDemonstration" Label="示范企业"></EleSwitch>
        <EleSwitch For="Item.SafetySteward" Label="有安全管家"></EleSwitch>


        <EleLabel Label="建筑信息" FillRow="true"></EleLabel>
        <EleSelect For="Item.BuildingType" Label="建筑类型" ></EleSelect>
        <EleNumber For="Item.LandArea" Label="占地面积" Append="㎡" ControlPosition="right" ></EleNumber>
        <EleNumber For="Item.BuildingArea" Label="建筑面积" Append="㎡" ControlPosition="right" ></EleNumber>
        <EleSelect For="Item.FactoryUsageType" Label="厂房使用权"></EleSelect>
        <EleSelect For="Item.BuildingStructure" Label="房屋结构"></EleSelect>


        <EleLabel Label="系统信息" FillRow="true"></EleLabel>
        <EleSwitch For="Item.IsInOnlinePlatform" Label="录入工业在线"></EleSwitch>
        <EleSwitch For="Item.IsIn141Platform" Label="录入141平台"></EleSwitch>

        <EleLabel Label="更多" FillRow="true"></EleLabel>
        <EleTreePicker For="Item.TagIds" Label="匹配标签" Api="/httpapi/checks/GetCheckTagTreeForSheet?objectId=@Model.Item.Id" Multiple="true" CollapseTags="false" FillRow="true"></EleTreePicker>
        <EleButton Type="Primary" Look="Text" Icon="User" Handler="ShowContacts" EnabledFor="Item.Id">联系人</EleButton>
        <EleButton Type="Primary" Look="Text" Icon="Calendar" Handler="ShowObjectEvents" EnabledFor="Item.Id">对象事件</EleButton>
        <EleButton Type="Primary" Look="Text" Icon="Document" Handler="ShowFiles" EnabledFor="Item.Id">文件</EleButton>
        <EleButton Type="Primary" Look="Text" Icon="Histogram" Handler="ShowCheckLogs" EnabledFor="Item.Id">检查历史</EleButton>
        <EleButton Type="Primary" Look="Text" Icon="Warning" Handler="ShowHazards" EnabledFor="Item.Id">隐患清单</EleButton>
        <EleButton Type="Primary" Look="Text" Icon="DocumentChecked" PopupUrl="/Checks/CheckFlow?objectId=@Model.Item.Id&objectName=@System.Net.WebUtility.UrlEncode(Model.Item.Name ?? string.Empty)" EnabledFor="Item.Id" Visible="@Auth.CheckPower(Power.CheckNew)">开始排查</EleButton>
    
        <Bottom>
            <EleButton Type="Primary" Command="SaveClose" Visible="@(Model.Mode != PageMode.View)">保存</EleButton>
            <EleButton Command="Close">关闭</EleButton>
        </Bottom>
    </EleForm>
}
