@page
@model App.Pages.EleUISamples.ButtonModel


@section body {
    <div id="app" class="p-4 space-y-4">
        <div class="flex gap-2">
            <EleButton Type="Primary" Handler="Switch">Primary</EleButton>
            <EleButton Type="Success">Success</EleButton>
            <EleButton Type="Danger">Danger</EleButton>
            <EleButton Type="Info">Info</EleButton>
            <EleButton Type="Warning">Warning</EleButton>
            <EleButton Type="Default">Default</EleButton>
        </div>
        <div class="flex gap-2">
            <EleButton Look="Text" Type="Primary" VShowFor="ShowItem">Primary</EleButton>
            <EleButton Look="Text" Type="Success" VShowFor="ShowItem">Success</EleButton>
            <EleButton Look="Text" Type="Danger"  VShowFor="ShowItem">Danger</EleButton>
            <EleButton Look="Text" Type="Info"    VShowFor="ShowItem">Info</EleButton>
            <EleButton Look="Text" Type="Warning" VShowFor="ShowItem">Warning</EleButton>
            <EleButton Look="Text" Type="Default" VShowFor="ShowItem">Default</EleButton>
        </div>
        <div class="flex gap-2">
            <EleButton Look="Dashed" Type="Primary">Primary</EleButton>
            <EleButton Look="Dashed" Type="Success">Success</EleButton>
            <EleButton Look="Dashed" Type="Danger">Danger</EleButton>
            <EleButton Look="Dashed" Type="Info">Info</EleButton>
            <EleButton Look="Dashed" Type="Warning">Warning</EleButton>
            <EleButton Look="Dashed" Type="Default">Default</EleButton>
        </div>
        <div class="flex gap-2">
            <EleButton Look="Round" Type="Primary">Primary</EleButton>
            <EleButton Look="Round" Type="Success">Success</EleButton>
            <EleButton Look="Round" Type="Danger">Danger</EleButton>
            <EleButton Look="Round" Type="Info">Info</EleButton>
            <EleButton Look="Round" Type="Warning">Warning</EleButton>
            <EleButton Look="Round" Type="Default">Default</EleButton>
        </div>
        <div class="flex gap-2">
            <EleButton Look="Circle" Icon="Edit"    Type="Primary"></EleButton>
            <EleButton Look="Circle" Icon="Check"   Type="Success"></EleButton>
            <EleButton Look="Circle" Icon="Message" Type="Danger"></EleButton>
            <EleButton Look="Circle" Icon="Star"    Type="Info"></EleButton>
            <EleButton Look="Circle" Icon="Delete"  Type="Warning"></EleButton>
            <EleButton Look="Circle" Icon="Search"  Type="Default"></EleButton>
        </div>
    </div>
    <EleApp />
}
 