@page
@model App.Pages.GIS.GeometryManagerModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "点位管理中心";
}

@section body {
    <div class="h-screen">
        <EleSplitPanel Height="100%" Radius="0" Border="0">
            <PanelItem Size="300" Min="220" Max="460" Collapsible="true">
                <EleTree Items="Model.NavMenus"
                            IdField="Id"
                            NameField="Name"
                            ChildrenField="Children"
                            NodeKey="Id"
                            HighlightCurrent="true"
                            DefaultExpandAll="true"
                            ExpandOnClickNode="false"
                            Height="calc(100vh)">
                    <template #default="{ data }">
                        <a :href="data.url || '#'" target="geometryManagerFrame" class="text-current no-underline">{{ data.name }}</a>
                    </template>
                </EleTree>
            </PanelItem>
            <PanelItem Min="360" IframeName="geometryManagerFrame" IframeUrl="@Model.DefaultGeometriesUrl"></PanelItem>
        </EleSplitPanel>
    </div>
    <EleApp />
}
