@page
@model App.Pages.GIS.MenuFormModel
@{
    ViewData["Title"] = "GIS菜单表单";
    var currentId = Request.Query["id"].ToString();
    var selectedId = Request.Query["selectId"].ToString();
}

@section body {
    <EleForm LabelWidth="120px">
        <EleInput For="Item.Name" Label="名称" Required="true"></EleInput>
        <EleTreeSelect For="Item.ParentId" Label="上级菜单" Api="/httpapi/gis/GetMenuTree?excludeId=@currentId&amp;selectedId=@selectedId" Clearable="true" CheckStrictly="true"></EleTreeSelect>
        <EleImageUpload For="Item.Icon" Label="图标" FillRow="true" ItemWidth="64"></EleImageUpload>
        <EleSwitch For="Item.IsDefaultShow" Label="默认显示"></EleSwitch>
        <EleNumber For="Item.Zoom" Label="显示级别" Min="0" Max="24" Step="0.1"></EleNumber>
        <EleSwitch For="Item.Selectable" Label="是否可选"></EleSwitch>
        <EleNumber For="Item.SortId" Label="排序" Min="0" Max="100000"></EleNumber>
        <EleSelect For="Item.DataFrom" Label="数据来源"></EleSelect>
        <div v-show="Number(form.dataFrom ?? 0) === 2 || String(form.dataFrom ?? '').toLowerCase() === 'api'">
            <EleInput For="Item.DataUrl" Label="数据地址" FillRow="true" Placeholder="如: /httpapi/gis/getcheckobjects?tagnames=危化品">
                <template #append>
                    <el-button class="menu-dataurl-test-btn" link type="primary" @@click="invokeCommand('TestDataUrl')" title="测试">
                        <i class="fa-solid fa-flask-vial"></i>
                    </el-button>
                </template>
            </EleInput>
        </div>
        <EleNumber For="Item.DataCnt" Label="点位数" Min="0" Max="10000000"></EleNumber>
        <EleDatePicker For="Item.DataDt" Label="最后数据时间" Type="DateTime"></EleDatePicker>

        <Bottom>
            <EleButton Type="Primary" Command="SaveClose" Visible="@(Model.Mode != PageMode.View)">保存</EleButton>
            <EleButton Type="Primary" Command="SaveNew" Visible="@(Model.Mode != PageMode.View)">保存并新增</EleButton>
            <EleButton Command="Close">关闭</EleButton>
        </Bottom>
    </EleForm>
}

@section head{
    <style>
        .menu-dataurl-test-btn {
            padding: 0 6px;
            min-height: 30px;
        }
    </style>
}
